<app-header></app-header>
<div class="container">
  <div class="flex-item item-1">
  ok
  </div>
  <div class="flex-item item-1">
    ok1
    </div>
  <div class="flex-item item-2">
   cancel
  </div>
  <div class="flex-item item-3">
 submit
  </div>
  <div class="flex-item item-4">
   move
  </div>
  <div class="flex-item item-5">
    ok
    </div>
    <div class="flex-item item-6">
     cancel
    </div>
    <div class="flex-item item-7">
   submit
    </div>
    <div class="flex-item item-8">
     move
    </div>
    <div class="flex-item item-9">
      ok
      </div>
      <div class="flex-item item-2">
       cancel
      </div>
      <div class="flex-item item-3">
     submit
      </div>
      <div class="flex-item item-4">
       move
      </div>
</div>
<!-- <button class="change">hi</button>
<app-login></app-login> -->